/* cart card checkout */
.cart-page-outer{
  display: flex;
  justify-content: center;
  position: relative;
}

.checkout-box {
  border-radius: 5px;
  width: 18rem;
  padding: 0.6rem;
  color: gray;
  display: inline;
  height: fit-content;
  padding: 1.5rem;
  margin: 1.5rem;
}
.sub-fields {
  display: flex;
  justify-content: space-between;
}
.final-details {
  margin-bottom: 0.5rem;
  color: black;
}
.total-amount {
  color: black;
  font-weight: bold;
}
.battan {
  justify-content: center;
}

/* cart card edit */

.horiz-card {
  margin: 1rem;
  width: 27rem;
  padding: 1rem;
}
.horiz-prod-price2 {
  flex-direction: column;
}
.buttons-horizontal{
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.7rem;
}
.horiz-prod-sub-in{
  padding: 0 1rem;
}
.battan{
  padding-top:  1rem ;
}
@media screen and (max-width: 900px) {
  .cart-page-outer{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .horiz-card{
    max-width: 100%;
    width: 0;
    width: fit-content;
  }
  /* .horiz-prod-sub{
    flex-direction: column;
  } */
  .buttons-horizontal{
    display: flex;
    /* flex-direction: column; */
    
  }
  .horiz-prod{
    flex-direction: column;
  }

}


