.btn2-disabled {
  color: white !important;
  border: 1px solid rgb(75, 75, 75) !important;
}
.cart-btn-box {
  position: relative;
  display: inline-block;
}
.cart-btn-box p {
  visibility: hidden;
  background-color: transparent;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: -1.2rem;
  left: 26%;
  z-index: 1;
}

.cart-btn-box:hover p {
  visibility: visible;
  transition: 0.5s;
}

.sp-button, .nm-btn2{
  width: max-content;
  min-width: 11rem;
}
