/* Home banner  */
.banner {
    position: relative;
  }
  .banner-img {
    background-image: url(../../images/banner-img.jpg);
  
    background-size: cover;
    height: 85vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .banner-title {
    color: white;
    font-size: 6rem;
    text-shadow: -7px 1px 0 #000,
          1px 1px 0 #000, 
          1px -1px 0 #000,
          -1px -1px 0 #000;
  }
  .banner-tagline {
    margin-bottom: 1.5rem;
    color: whitesmoke;
    background: #00000040;
  
  }
  .banner-btn {
    background: border-box;
    font-weight: bold;
  }
  