
.input-filed-cont{
    text-align: center;
    background-color: var(--bgLightColor);
}
.input-filed{
    background-color: white;
    margin: 1rem;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 20rem;
}