.acc-mang-outer {
  text-align: center;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}
.acc-mang-p1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: white;
  padding: 2rem;
}
.acc-mang-p1 p {
  display: inline-block;
  text-align: right;
  padding-right: 1.5rem;
}
.acc-mang-p1 input {
  display: inline-block;
  max-width: 13rem;
}
.innzer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.2rem;
}
.innzer input {
  /* border: none; */
  outline: none;
}
.innzer p {
  font-weight: 600;
  text-align: left;
}

/* Addiotional */
.submit-add-btn {
  margin-top: 1rem;
  font-size: 1.3rem;
}

@media (max-width: 580px) {
  .innzer {
    display:flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-bottom: 1rem;
  }
  .innzer p {
    padding-bottom: 0.3rem;
  }
  .acc-mang-p1 {
    padding: 1rem;
  }
}
