.order-main-box{
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: whitesmoke;
    padding: 1rem;
    
}
.order-p1{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-bottom: 1rem;
}
.order-p2{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.address-display-box-order{
    display: inline-block;
}