.order-main-box {
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px !important;
}
.order-p1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.order-p2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.address-display-box-order {
  display: inline-block;
}

@media (max-width: 580px) {
  .order-main-box {
    max-width: 25rem;
  }
}
@media (max-width: 375px) {
  .order-main-box {
    max-width: 18rem;
  }
  .horiz-card{
    margin: 1rem 0;
    padding: 0.5rem;
  }
  .horiz-prod-sub-in{
    padding-left: 0.5rem;
  }
  .order-p1{
    flex-direction: column;
  }
  .order-p2{
    flex-direction: column;
  }
}
