@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
:root{
  --primaryColor: #2f2b35;
  --primaryAccentColor: #5a5462;
  --secondaryColor:rgb(40, 205, 240);
  --bgLightColor: #edf3f4; 

  --textColor:rgb(34, 34, 34);
  --textColorLight:rgb(117, 117, 117);

}


.App{
  text-align: center;
}
.main-title {
  font-family: "Courier New", Courier, monospace;
  margin-top: 3rem;
}

/* Products */
.grid-cont {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.prod-grid-item {
  text-align: center;
}

/* //Filters */
label {
  display: block;
  padding: 1rem;
}

/* Cart */
.page-title {
  border-bottom: 1px solid black;
}

.nav-itm {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 510px) {
  .grid-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prod-grid-item {
    display: inline-block;
    max-width: 100%;
  }
}

/* login signup */
.outer-cont {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
